PSoCCreator/Final Project/FinalEmulator.cydsn/CortexM3/ARM_GCC_541/Release/*.lst
PSoCCreator/Final Project/FinalEmulator.cydsn/CortexM3/ARM_GCC_541/Debug/*.lst
./PSoCCreator/Final Project/FinalEmulator.cydsn/CortexM3/ARM_GCC_541/Debug/u8g2_fonts.lst
